img + p {
  font-style: italic;
}

p:before {
  background-image: url('https://cdn1.vectorstock.com/i/1000x1000/60/55/search-icon-magnifier-icon-vector-20716055.jpg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center; 
  height: 20px;
  content:"";
  padding-left: 40px;
}

p:nth-of-type(2n) {
  background: green;
}

p:nth-of-type(4n) {
  text-decoration: underline;
}

p:hover {
  background-color: yellow;
}


input[type=text] {
  background-color: gray;
}

input[type=password] {
  background-color: black;
  color: white;
}

input[type=password] + input {
  color: blue;
}